@import "./docs/base.css";
@import "./docs/spacing.css";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul { padding:0 } 
.navbar {
  border-bottom: 2px inset;
}
.nav-links {
  font-size: var(--font-size1);
  font-weight: var(--font-weight500);
  color: var(--nav-text-color);
}
.btn-login {
  background-color: var(--login-button);
  min-width: 150px;
  font-weight: var(--font-weight600);
  line-height: 16px;
  border-radius: var(--border-radius);
  border: none;
  color: white;
}
.container-Body {
    height: 450px;
}

.container-Body-img {
  border-radius: var(--border-radius500);
}
.grid-area-text {
  top: 20%;
  left: 10%;
  font-size: 21px;
  font-family: Arimo, sans-serif;
}
.grid-area-text-about {
  font-size: 14px;
  line-height: 2;
  width: 80%;
}
.grid-area-img {
  line-height: 600px;
}
.container-about {
  height: 450px;
  background-color: #eeeff0;
}
.center-text {
  text-align: center;
}
.container-footer {
  background-color: #00308f;
  color: white;
  font-weight: 200;
 
}
.footer-links{
line-height: 2;
justify-content: space-around;
}

.input-group{
    width:40%;
    text-align: center;
}
.input{
    padding: 1rem;
    width: 60%;
    border: 1px solid #e5e5e5;
    
  
}
::placeholder {
    font-size: 1rem;
    opacity: 1;

  }
 .links{
  color: white;;
 }
 i {
  padding: 10px;
}
.icon {
  position: relative;
  right: 50px;
  color:var(--login-button)

}