.flex {
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-center{
  justify-content: center;
}
.grid {
  display: grid;
}
.grid-template-columns {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  
}
.grid-template-columns3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  
}
.grid-center{
  place-self: center;
}
.grid-gap{
    grid-column-gap:3rem;
}
.grid-area1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-area2 {
  grid-area: 1 / 2 / 2 / 3;
}
.gap {
  gap: 3rem;
}
.gap1 {
  gap: 1rem;
}
.m-l {
  margin-left: 7rem;
}
.m-ra {
  margin-right: auto;
}
.m-t {
  margin-top: 20px;
}
.m-t30 {
  margin-top: 30px;
}
.m-t60{
    margin-top: 60px;
}
.m-t-button {
  margin-top: 10px;
}
.padding {
  padding: 3px 7rem;
}
.btn-padding {
  padding: 13px 47px;
}
.padding2{
    padding: 5px 9rem;
}
.padding3{
  padding: 2rem 3rem;
}
.cursor {
  cursor: pointer;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
